@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@layer base {
  h3 {
    @apply mb-8 text-4xl font-bold text-darkGrayBlue md:text-5xl;
  }

  h4 {
    @apply text-2xl font-bold text-darkGrayBlue mb-2;
  }
}

@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}

.button-container {
  @apply flex flex-col items-center md:justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}

.section-container {
  @apply max-w-6xl text-center mx-auto px-10;
}

.flex-col-center {
  @apply flex flex-col items-center md:text-left;
}

.text-md-xl {
  @apply max-w-md text-xl text-grayBlue;
}
