@import "tailwindcss";

/* Variable font import (supports multiple weights and slants) */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: "wght" 400, "slnt" 0;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --color-acid-green: hsl(75, 94%, 57%);
}
