@import "tailwindcss";

/* Variable font import (supports multiple weights and slants) */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --color-acid-green: hsl(75, 94%, 57%);
  --color-darkest-gray: hsl(0, 0%, 8%);
  --color-mid-gray: hsl(0, 0%, 12%);
  --color-low-gray: hsl(0, 0%, 20%);
}

@layer components {
  .link-p {
    @apply bg-low-gray py-2 rounded-md font-bold hover:bg-acid-green hover:text-black;
  }
}
