@import "tailwindcss";

@theme {
  --color-cyan: hsl(179, 62%, 43%);
  --color-yellow: hsl(71, 73%, 54%);
  --color-light-gray: hsl(204, 43%, 93%);
  --color-grayish-blue: hsl(218, 22%, 67%);
}

@layer base {
  html {
    font-family: "Karla", sans-serif;
    font-size: 16px;
  }
}
